body {
	margin: 0px;
	font-family: sans-serif;
	background-color: #EEE;
	color: #5F5F5F;
}

.page-header {
	background: #1C4D7C;
	/* Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #1C4D7C, #1B146D);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #1C4D7C, #1B146D);
	/* IE 10 */
	background-image: -ms-linear-gradient(top, #1C4D7C, #1B146D);
	
	padding: 3px 3px 3px 23px;
	color: #E9E9E9;
	font-size: 21px;
	
	/* Override twitter's margin-top used if we want a topbar */
	margin-top: 0px;
}

/* Sub title */
.page-header p {
	color: #9294C2;
}

h1 {
	
}

/*
Delete this: maybe move to h1?
h3 {
	font-size: 1.3em;
	font-weight: bold;
}
*/

/* Nav */
.bs-sidenav > li > a {
	display: block;
	color: #716b7a;
	padding: 5px 20px;
}

.bs-sidenav > li.active {
	font-weight: bold;
}

.bs-sidenav > li:hover {
	background: #EA712B;
}

/* Highlight box */
.highlight {
	padding-top: 5px;
}

/* Code highlighter */
.highlight pre {
	padding: 10px 0px 0px 10px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgb(233,233,233);
	white-space: nowrap;
}

pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}

#mainFooter {
	height: 15px;
}