code .hll { background-color: #ffffcc }
code .c { color: #0099FF; font-style: italic } /* Comment */
code .err { color: #AA0000; background-color: #FFAAAA } /* Error */
code .k { color: #006699; font-weight: bold } /* Keyword */
code .o { color: #555555 } /* Operator */
code .cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
code .cp { color: #009999 } /* Comment.Preproc */
code .c1 { color: #0099FF; font-style: italic } /* Comment.Single */
code .cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
code .gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
code .ge { font-style: italic } /* Generic.Emph */
code .gr { color: #FF0000 } /* Generic.Error */
code .gh { color: #003300; font-weight: bold } /* Generic.Heading */
code .gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
code .go { color: #AAAAAA } /* Generic.Output */
code .gp { color: #000099; font-weight: bold } /* Generic.Prompt */
code .gs { font-weight: bold } /* Generic.Strong */
code .gu { color: #003300; font-weight: bold } /* Generic.Subheading */
code .gt { color: #99CC66 } /* Generic.Traceback */
code .kc { color: #006699; font-weight: bold } /* Keyword.Constant */
code .kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
code .kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
code .kp { color: #006699 } /* Keyword.Pseudo */
code .kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
code .kt { color: #007788; font-weight: bold } /* Keyword.Type */
code .m { color: #FF6600 } /* Literal.Number */
code .s { color: #CC3300 } /* Literal.String */
code .na { color: #330099 } /* Name.Attribute */
code .nb { color: #336666 } /* Name.Builtin */
code .nc { color: #00AA88; font-weight: bold } /* Name.Class */
code .no { color: #336600 } /* Name.Constant */
code .nd { color: #9999FF } /* Name.Decorator */
code .ni { color: #999999; font-weight: bold } /* Name.Entity */
code .ne { color: #CC0000; font-weight: bold } /* Name.Exception */
code .nf { color: #CC00FF } /* Name.Function */
code .nl { color: #9999FF } /* Name.Label */
code .nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
code .nt { color: #330099; font-weight: bold } /* Name.Tag */
code .nv { color: #003333 } /* Name.Variable */
code .ow { color: #000000; font-weight: bold } /* Operator.Word */
code .w { color: #bbbbbb } /* Text.Whitespace */
code .mf { color: #FF6600 } /* Literal.Number.Float */
code .mh { color: #FF6600 } /* Literal.Number.Hex */
code .mi { color: #FF6600 } /* Literal.Number.Integer */
code .mo { color: #FF6600 } /* Literal.Number.Oct */
code .sb { color: #CC3300 } /* Literal.String.Backtick */
code .sc { color: #CC3300 } /* Literal.String.Char */
code .sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
code .s2 { color: #CC3300 } /* Literal.String.Double */
code .se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
code .sh { color: #CC3300 } /* Literal.String.Heredoc */
code .si { color: #AA0000 } /* Literal.String.Interpol */
code .sx { color: #CC3300 } /* Literal.String.Other */
code .sr { color: #33AAAA } /* Literal.String.Regex */
code .s1 { color: #CC3300 } /* Literal.String.Single */
code .ss { color: #FFCC33 } /* Literal.String.Symbol */
code .bp { color: #336666 } /* Name.Builtin.Pseudo */
code .vc { color: #003333 } /* Name.Variable.Class */
code .vg { color: #003333 } /* Name.Variable.Global */
code .vi { color: #003333 } /* Name.Variable.Instance */
code .il { color: #FF6600 } /* Literal.Number.Integer.Long */